@font-face{
	font-family: 'mifuete';
	src: url( "Lobster-Regular.ttf");
}

body{
	font-size: 72.5%;
}
h4{
	color: black;
}
#nom{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 3em;
	text-align: center;
	color: #4250E5;
	}

#edad{
	font-family:'mifuete';
	font-size: 2em;
	margin-left: 780px;
	margin-top: 50px;
}

#domicilio{
	font-family: 'mifuete';
	font-size: 2em;
	margin-left: 780px;
}

section{
	width: 91%;
	border-top: 2px dashed #4250E5;
	margin: 15px auto;
	}

img {
	float: left;
	margin-top: 40px;
	width: 550px;
	height: 300px;
	padding: 3px;
	border-radius: 40px;
	box-shadow: #999 3px 3px 20px;
}
#principal{
	margin-left: 780px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 1.5em;
	color: red;
}

footer{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 1.5em;
	margin-left: 835px;
}