<h1>{{title}}</h1>
<p>Welcome to {{danniel}}</p>

<nav>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/saludo">Saludo</a></li>
    </ul>
</nav>
